$pink: #fb2e86;
$price-tag-color: #fb2448;
$section-hover: #2f1ac4;
$off-navy-blue: #3f509e;
$navy-blue: #151875;
$sky-blue: #f3f9ff;
$pantone-purple: #e0d3f5;
$purple: #7e33e0;
$off-purple: #9f63b5;
$off-blue: #151875;
$border: #000;
$text-color: #f1f1f1;
$logo: #0d0e43;
$gray-border: #e7e6ef;
$carousel-background: #f2f0ff;
$lorem: #8a8fb9;
$discount: #00c1fe;
$item-background: #f6f7fb;
$dots-opacity: #febad7;
$bg-shade: #eeeffb;
$item-background: #f7f7f7;
$unique-product-background: #f1f0ff;
$list-green: #2bf5cc;
$list-blue: #2b2bf5;
$trending-background: #f5f6f8;
