@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Nunito:wght@400;500;600;900&display=swap");

@font-face {
  font-family: "regular";
  src: url("./assets/font/JosefinSans-Regular.ttf") format("truetype");
}

:root {
  font-family: regular;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}

.custom-container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.hidden_slider {
  z-index: -1 !important;
}
.App {
  height: 100vh;
  overflow-y: hidden;
}
